

<H2>OpenShift Redis </h2>
<Ul>
<li>Value read from cache is: </li>
@ViewData ["Value oF test"]
</Ul>
<br />
<Ul>
<Li>Current value is: </li>
@ViewData ["Value oF test"]
</Ul>
@ViewBag
@TempData ["Value oF test"]

@{
   var emp = ViewBag.Message;
}
